# Week 13 Review Assignmnet

For the questions below, we're going to refer exclusively to an HHCAPS survey data set that is available in `/data/hhcaps.csv`.  Use whatever commands you want to calculate the information required to get to the answer.  Then, enter your answer in the answers cell as usual.

**NOTE: Enter your answers as string values (inside quotation marks "") even if the answer is actually numeric.**

---
---

In [1]:
%matplotlib inline
import pandas as pd
hhcaps = pd.read_csv('https://hds5210-data.s3.amazonaws.com/hhcaps.csv')

## #01 -

How many columns does this file contain?

In [2]:
# Write some code to figure it out
column_count = len(hhcaps.columns)

In [3]:
column_count

39

In [4]:
from numpy import int64

In [5]:
column_count = int64(column_count)

In [6]:
answers={}
answers['40.1'] = "39"

## #02 -

How many different values for State are there in this file?

In [7]:
# Write some code to figure it out
len(hhcaps['State'].unique())

55

In [8]:
answers['40.2'] = "55"

## #03 -

Which of those State values has the highest frequency of occurence?

In [9]:
hhcaps['State'].value_counts()

TX    2518
CA    1319
FL    1069
OH     781
IL     735
MI     597
PA     425
MA     261
OK     256
VA     244
IN     229
MN     197
LA     195
CO     187
NC     174
AR     172
AZ     169
MO     169
IA     163
AL     152
NV     143
NY     141
TN     140
WI     119
KS     117
GA     106
KY     104
UT      98
CT      91
NM      77
NE      75
SC      70
WA      63
WV      61
OR      57
MD      53
MS      48
NJ      47
ID      45
PR      45
SD      33
NH      31
DC      28
MT      27
RI      27
WY      26
DE      26
ME      24
ND      18
HI      16
AK      14
VT      11
GU       4
MP       2
VI       1
Name: State, dtype: int64

In [10]:
answers['40.3'] = "TX"

## #04 -

Which of those State values has the best average performance on the `Star Rating for health team communicated well with them` score?

In [11]:
# Write some code to figure it out
hhcaps.groupby(['State']).mean()["Star Rating for health team communicated well with them"].dropna().reset_index().sort_values(by=['Star Rating for health team communicated well with them'],ascending=[False])

<ipython-input-11-9935f8516693>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  hhcaps.groupby(['State']).mean()["Star Rating for health team communicated well with them"].dropna().reset_index().sort_values(by=['Star Rating for health team communicated well with them'],ascending=[False])

   State  Star Rating for health team communicated well with them
21    ME                                           4.650000
51    WV                                           4.647059
25    MS                                           4.636364
1     AL                                           4.507692
18    LA                                           4.487805
17    KY                                           4.484536
2     AR                                           4.384615
43    TN                                           4.372881
26    MT                                           4.333333
41    SC                                           4.333333
24    MO                                           4.300885
48    VT                                           4.272727
28    ND                                           4.250000
29    NE                                           4.250000
12    IA                                           4.204082
16    KS                                           4.166667
42    SD                                           4.166667
38    PA                                           4.148325
27    NC                                           4.138158
30    NH                                           4.136364
36    OK                                           4.128655
50    WI                                           4.101449
15    IN                                           4.030075
47    VI                                           4.000000
13    ID                                           3.972222
40    RI                                           3.947368
10    GA                                           3.917526
46    VA                                           3.865772
8     DE                                           3.846154
31    NJ                                           3.833333
52    WY                                           3.833333
11    HI                                           3.818182
19    MA                                           3.817308
44    TX                                           3.811648
5     CO                                           3.770833
22    MI                                           3.716279
32    NM                                           3.714286
20    MD                                           3.695652
14    IL                                           3.667820
35    OH                                           3.666667
9     FL                                           3.645228
49    WA                                           3.642857
45    UT                                           3.603774
6     CT                                           3.550725
23    MN                                           3.544554
0     AK                                           3.500000
37    OR                                           3.409091
34    NY                                           3.378641
3     AZ                                           3.277108
4     CA                                           3.104508
33    NV                                           3.000000
39    PR                                           2.846154
7     DC                                           2.000000

In [12]:
answers['40.4'] = "ME"

## #05 -

What was the average score on `Star Rating for how patients rated overall care from agency` for providers listed as having a `Type of Ownership` of `Hospital Based Program`

**NOTE: Enter your answer with two decimal precision: 0.00**

In [13]:
# Write some code to figure it out
import numpy as np
data = hhcaps[hhcaps['Type of Ownership'] == 'Hospital Based Program']
data = data['Star Rating for how patients rated overall care from agency']
round(np.mean(data),2)

3.69

In [14]:
answers['40.5'] = "3.69"

---

Checking Your Work
---

After completing your work above and running each cell, you can check your answers by running the code below.

The easiest way to do this is to use the `Kernel` -> `Restart Kernel and Run All Cells` menu option. This option restarts Python and runs every cell from top to bottom until it encounters an exception of some kind.  It will stop after running the cell below and outputing a summary of how many answers you have correct or incorrect.

In [15]:
!pip install boto3
import httpimport
with httpimport.remote_repo('https://gist.githubusercontent.com/paulboal/f14bead2d24fcb9499f4de4607908824/raw/4c3c0e75ea1510bb090bada047372954160e64d4'):
    import checker

checker.check_hds5210(answers, 'week13')

Requirement already satisfied: boto3 in /usr/local/lib/python3.10/dist-packages (1.29.5)
Requirement already satisfied: botocore<1.33.0,>=1.32.5 in /usr/local/lib/python3.10/dist-packages (from boto3) (1.32.5)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from boto3) (0.7.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.33.0,>=1.32.5->boto3) (2.8.2)
Requirement already satisfied: urllib3<2.1,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore<1.33.0,>=1.32.5->boto3) (2.0.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.33.0,>=1.32.5->boto3) (1.16.0)
=============================================
== RESULTS for dmogarala@slu.edu
=============================================
   Q#               Yours  Correct?
 40.1                  39        OK
 40.2                  55        OK
 40.3                  TX        OK
 40.4                  ME        OK
 40.5                3.69        OK

---

## Check your work above

If you didn't get them all correct, take a few minutes to think through those that aren't correct.


## Submitting Your Work

In order to submit your work, you'll need to save this notebook file back to GitHub.  To do that in Google Colab:
1. File -> Save a Copy in GitHub
2. Make sure your HDS5210 repository is selected
3. Make sure the file name includes the week number like this: `week02/week02_assignment_1.ipynb`
4. Add a commit message that means something

**Be sure week names are lowercase and use a two digit week number!!**

**Be sure you use the same file name provided by the instructor!!**