# Week 15 Programming Assignment

The final thing for this semester that we haven't exercised, yet, is working with databases through Python.  In thi final assignment of the semester, you will practice pulling data from either Google Big Query or Snowflake, loading that data into a Pandas data frame, summarizing the data, and then exporting that to an Excel file.

**You will need to use your own Google Big Query or Snowflake account to run this notebook, but you should try to make it configurable so anyone with an account in those technologies could run your notebook with minimal changes.**


Build a notebook with good comments (either in code or in markdown cells).  Then submit your assignment as usual.

### 1. Connect to the data source

Follow the examples provided in the [week15 folder of our GitHub repository](https://github.com/paulboal/hds5210-2023/tree/main/week15) to connect your notebook either to Big Query or Snowflake.

In [1]:
# Connect Snowflake
## Installing snowflake connector. There in the snowflake I enabled the anaconda in billing
!pip install "snowflake-connector-python[pandas]"

Requirement already satisfied: snowflake-connector-python[pandas] in /usr/local/lib/python3.10/dist-packages (3.6.0)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (1.5.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (1.16.0)
Requirement already satisfied: cryptography<42.0.0,>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (41.0.7)
Requirement already satisfied: pyOpenSSL<24.0.0,>=16.2.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (23.3.0)
Requirement already satisfied: pyjwt<3.0.0 in /usr/lib/python3/dist-packages (from snowflake-connector-python[pandas]) (2.3.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (2023.3.post1)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (2.31.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (23.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (2023.11.17)
Requirement already satisfied: typing-extensions<5,>=4.3 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (4.5.0)
Requirement already satisfied: filelock<4,>=3.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (3.13.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (2.4.0)
Requirement already satisfied: platformdirs<4.0.0,>=2.6.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (3.11.0)
Requirement already satisfied: tomlkit in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (0.12.3)
Requirement already satisfied: pandas<2.2.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (1.5.3)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python[pandas]) (10.0.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python[pandas]) (2.21)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.2.0,>=1.0.0->snowflake-connector-python[pandas]) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas<2.2.0,>=1.0.0->snowflake-connector-python[pandas]) (1.23.5)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->snowflake-connector-python[pandas]) (2.0.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<2.2.0,>=1.0.0->snowflake-connector-python[pandas]) (1.16.0)

In [2]:
import snowflake.connector
# my snowflake details
snowflake_username = 'DMOGARALA'
snowflake_password = 'Keerthi@1155182089'
snowflake_account = 'HFKYIDV-DS90906'
snowflake_warehouse = 'COMPUTE_WH'
snowflake_database = 'COVID19_EPIDEMIOLOGICAL_DATA'
snowflake_schema = 'PUBLIC'
snowflake_query = 'SELECT * FROM DEMOGRAPHICS;'   # My SQL Query

### 2. Query some data

Assuming the source database has some data in it or that you can load some data into it from any source, query it.  Then, read that data into a Pandas dataframe.

In [17]:
with snowflake.connector.connect(
        user=snowflake_username,
        password=snowflake_password,
        account=snowflake_account,
        warehouse=snowflake_warehouse,
        database=snowflake_database,
        schema=snowflake_schema
) as con:

  # Creating a cursor object
  cursor = con.cursor()

  # Executing the above query
  cursor.execute(snowflake_query)

  # This code will fetch all the results into a Pandas DataFrame
  data = cursor.fetch_pandas_all()
  data

### 3. Aggregate your data frame

Do some kind of aggregation on your data frame.  Something that makes sense and has some groups to it.  Don't just sum up one column for the entire data frame.  Be more creative than that.

In [18]:
data

,ISO3166_1,ISO3166_2,FIPS,LATITUDE,LONGITUDE,STATE,COUNTY,TOTAL_POPULATION,TOTAL_MALE_POPULATION,TOTAL_FEMALE_POPULATION
0,US,NY,36049,43.782635,-75.218940,NY,Lewis County,27107,13671,13436
1,US,NY,36051,42.624741,-77.534340,NY,Livingston County,64622,32439,32183
2,US,NY,36053,42.776950,-75.343208,NY,Madison County,72089,35429,36660
3,US,NY,36055,43.075603,-77.385930,NY,Monroe County,749236,361925,387311
4,US,NY,36057,42.934388,-74.124411,NY,Montgomery County,49667,24468,25199
...,...,...,...,...,...,...,...,...,...,...
3135,US,TX,48193,31.657384,-97.986807,TX,Hamilton County,8232,4015,4217
3136,US,TX,48195,36.189358,-101.189414,TX,Hansford County,5552,2757,2795
3137,US,TX,48197,34.232102,-99.497176,TX,Hardeman County,3952,1934,2018
3138,US,TX,48199,30.311172,-94.134897,TX,Hardin County,55624,27484,28140
3139,US,TX,48201,29.784933,-94.922564,TX,Harris County,4434257,2205342,2228915

In [19]:
# I am getting state wise demographics.
data = data[['STATE', 'TOTAL_POPULATION', 'TOTAL_MALE_POPULATION', 'TOTAL_FEMALE_POPULATION']].groupby(by='STATE').agg('sum').reset_index()
data

   STATE  TOTAL_POPULATION  TOTAL_MALE_POPULATION  TOTAL_FEMALE_POPULATION
0     AK            728862                 381037                   347825
1     AL           4841164                2346193                  2494971
2     AR           2968472                1456694                  1511778
3     AZ           6728577                3344106                  3384471
4     CA          38654206               19200970                 19453236
5     CO           5359295                2689636                  2669659
6     CT           3588570                1750270                  1838300
7     DC            659009                 312629                   346380
8     DE            934695                 452416                   482279
9     FL          19934451                9741262                 10193189
10    GA          10099320                4922471                  5176849
11    HI           1413673                 709870                   703803
12    IA           3106589                1542988                  1563601
13    ID           1635483                 819845                   815638
14    IL          12851684                6310460                  6541224
15    IN           6589578                3245322                  3344256
16    KS           2898292                1441912                  1456380
17    KY           4411989                2172745                  2239244
18    LA           4645670                2271684                  2373986
19    MA           6742143                3269371                  3472772
20    MD           5959902                2886734                  3073168
21    ME           1329923                 651344                   678579
22    MI           9909600                4869885                  5039715
23    MN           5450868                2710157                  2740711
24    MO           6059651                2973317                  3086334
25    MS           2989192                1450269                  1538923
26    MT           1023391                 514191                   509200
27    NC           9940828                4834592                  5106236
28    ND            736162                 376979                   359183
29    NE           1881259                 935935                   945324
30    NH           1327503                 656507                   670996
31    NJ           8915456                4350531                  4564925
32    NM           2082669                1031440                  1051229
33    NV           2839172                1426322                  1412850
34    NY          19697457                9555130                 10142327
35    OH          11586941                5673893                  5913048
36    OK           3875589                1919995                  1955594
37    OR           3982267                1971512                  2010755
38    PA          12783977                6255042                  6528935
39    RI           1054491                 511297                   543194
40    SC           4834605                2348338                  2486267
41    SD            836795                 421244                   415551
42    TN           6548009                3191977                  3356032
43    TX          26956435               13379165                 13577270
44    UT           2948427                1483055                  1465372
45    VA           8310301                4086283                  4224018
46    VT            626249                 308711                   317538
47    WA           7073146                3529431                  3543715
48    WI           5754798                2859055                  2895743
49    WV           1846092                 912270                   933822
50    WY            583029                 297691                   285338

### 4. Write to Excel

Use Pandas functions to write your summarized data out to a local Excel file.

In [20]:
import pandas as pd

# Exporting the data to an Excel file
with pd.ExcelWriter('State_demographics.xlsx', engine='openpyxl') as writer:
    data.to_excel(writer, sheet_name='Data', index=False)

In [7]:
# Run this cell after the State_demographics.xlsx file has created in your directory.
data = pd.read_excel('State_demographics.xlsx')

In [8]:
data

    TOTAL_POPULATION  TOTAL_MALE_POPULATION  TOTAL_FEMALE_POPULATION
0             728862                 381037                   347825
1            4841164                2346193                  2494971
2            2968472                1456694                  1511778
3            6728577                3344106                  3384471
4           38654206               19200970                 19453236
5            5359295                2689636                  2669659
6            3588570                1750270                  1838300
7             659009                 312629                   346380
8             934695                 452416                   482279
9           19934451                9741262                 10193189
10          10099320                4922471                  5176849
11           1413673                 709870                   703803
12           3106589                1542988                  1563601
13           1635483                 819845                   815638
14          12851684                6310460                  6541224
15           6589578                3245322                  3344256
16           2898292                1441912                  1456380
17           4411989                2172745                  2239244
18           4645670                2271684                  2373986
19           6742143                3269371                  3472772
20           5959902                2886734                  3073168
21           1329923                 651344                   678579
22           9909600                4869885                  5039715
23           5450868                2710157                  2740711
24           6059651                2973317                  3086334
25           2989192                1450269                  1538923
26           1023391                 514191                   509200
27           9940828                4834592                  5106236
28            736162                 376979                   359183
29           1881259                 935935                   945324
30           1327503                 656507                   670996
31           8915456                4350531                  4564925
32           2082669                1031440                  1051229
33           2839172                1426322                  1412850
34          19697457                9555130                 10142327
35          11586941                5673893                  5913048
36           3875589                1919995                  1955594
37           3982267                1971512                  2010755
38          12783977                6255042                  6528935
39           1054491                 511297                   543194
40           4834605                2348338                  2486267
41            836795                 421244                   415551
42           6548009                3191977                  3356032
43          26956435               13379165                 13577270
44           2948427                1483055                  1465372
45           8310301                4086283                  4224018
46            626249                 308711                   317538
47           7073146                3529431                  3543715
48           5754798                2859055                  2895743
49           1846092                 912270                   933822
50            583029                 297691                   285338

---

## Submitting Your Work

Submit your work as usual